<section class="todoapp">
  <header class="header">
    <h1>todos</h1>
    <input
      class="new-todo"
      placeholder="What needs to be done?"
      autofocus
      (blur)="addTodo($event)"
      (keyup.enter)="addTodo($event)"
    />
  </header>
  <section class="main">
    <input
      id="toggle-all"
      class="toggle-all"
      type="checkbox"
      [checked]="completedTodos() === todoList.length"
      (change)="toggleStatusAllTodos()"
    />
    <label for="toggle-all" *ngIf="todoList.length">Mark all as complete</label>
    <ul class="todo-list" *ngFor="let todo of todoList">
      <app-todo-item
        (removeId)="removeTodo($event)"
        (toggleTodoId)="toggleStatusTodo($event)"
        (editTodoId)="editTodo($event)"
        [todo]="todo"
      ></app-todo-item>
    </ul>
  </section>
  <footer class="footer" *ngIf="todoList.length">
    <span class="todo-count">
      {{ uncompletedTodos() }}
      {{ uncompletedTodos() === 1 ? "item" : "items" }} left
    </span>
    <ul class="filters">
      <li>
        <a href="#/" class="selected">All</a>
      </li>
      <li>
        <a href="#/active">Active</a>
      </li>
      <li>
        <a href="#/completed">Completed</a>
      </li>
    </ul>
    <button
      class="clear-completed"
      *ngIf="completedTodos()"
      (click)="removeCompletedTodos()"
    >
      Clear completed
    </button>
  </footer>
</section>
