<section class="todoapp">
  <header class="header">
    <h1>todos</h1>
    <input
      class="new-todo"
      placeholder="What needs to be done?"
      autofocus
      (blur)="addTodo($event)"
      (keyup.enter)="addTodo($event)"
    />
  </header>
  <section class="main">
    <input
      id="toggle-all"
      class="toggle-all"
      type="checkbox"
      [checked]="todoService.completedTodos() === todoService.countTodos()"
      (change)="todoService.toggleStatusAllTodos()"
    />
    <label for="toggle-all" *ngIf="todoService.todoList.getValue().length">Mark all as complete</label>
    <ul class="todo-list">
      <app-todo-item
        *ngFor="let todo of todoList; trackBy:todoService.identify"
        [todo]="todo"
      ></app-todo-item>
    </ul>
  </section>
  <footer class="footer" *ngIf="todoService.todoList.getValue().length">
    <span class="todo-count">
      {{ todoService.uncompletedTodos() }}
      {{ todoService.uncompletedTodos() === 1 ? "item" : "items" }} left
    </span>
    <ul class="filters">
      <li>
        <a [routerLink]="['/']"
        routerLinkActive="selected"
        [routerLinkActiveOptions]="{exact:true}"
        >All</a>
      </li>
      <li>
        <a [routerLink]="['/', 'active']" routerLinkActive="selected"
        >Active</a>
      </li>
      <li>
        <a [routerLink]="['/completed']" routerLinkActive="selected"
        >Completed</a>
      </li>
    </ul>
    <button
      class="clear-completed"
      *ngIf="todoService.completedTodos()"
      (click)="todoService.removeCompletedTodos()"
    >
      Clear completed
    </button>
  </footer>
</section>
